.app {
    max-width: 1200px;
    margin: 0 auto;
}
.header {
    text-align: center;
    margin: 20px 0;
}
.logo {
    height: 80px;
}
.main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 20px;
}
